[Application]
name=wcf-http-server
version=39.3.3.0.2
entry_point=wcf_http.main:main
extra_preamble=src/wcf_http/preamble.py
# Optional, provide an icon if available
icon=src/wcf_http/assets/images/wcf-http.ico
# We need to set this to get a console
console=true

[Python]
# Must match the Python version used in the project
version=3.10.0
bitness=64

[Include]
packages=wcf_http
pypi_wheels = annotated-types==0.7.0 
	anyio==3.7.1 
	certifi==2024.8.30 
	cffi==1.17.1 
	charset-normalizer==3.4.0 
	click==8.1.7 
	colorama==0.4.6 
	exceptiongroup==1.2.2 
	fastapi==0.103.2 
	grpcio-tools==1.67.1 
	grpcio==1.67.1 
	h11==0.14.0 
	idna==3.10 
	pillow==11.0.0 
	protobuf==5.28.3 
	pycparser==2.22 
	pydantic-core==2.23.4 
	pydantic==2.9.2 
	pynng==0.8.0 
	pystray==0.19.5 
	python-xlib==0.33 
	requests==2.32.3 
	setuptools==75.5.0 
	six==1.16.0 
	sniffio==1.3.1 
	starlette==0.27.0 
	typing-extensions==4.12.2 
	urllib3==2.2.3 
	uvicorn==0.23.2 
	wcferry==39.3.3.1 

[Build]
directory=build
